body {
    margin: 0; 
    padding: 0;
    background: url("https://i.imgur.com/hfxUkFL.jpg") no-repeat center center fixed;
    background-size: cover;
}

.signUpScreen, .loginScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 140px;
    
}

.signup-form, .login-form {
    border: 1px solid white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    height: 240px;
    width: 500px;
    padding: 20px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.575);
}

#signup-name {
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid white;
}

#signup-email, #login-email {
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid white;
}

#signup-password, #login-password {
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid white;
}

.loginButton {
    border: 1px solid white;
    border-radius: 20px;
    margin-top: -41px;
    margin-left: 120px;
    width: 100px;
    height: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    background-color:rgba(252, 169, 62, 0.658);

}

#signUp {
    border: 1px solid white;
    border-radius: 20px;
    margin-left: -120px;
    width: 100px;
    height: 30px;
    margin-bottom: -15px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    background-color:rgba(252, 169, 62, 0.658)
}

#login {
    border: 1px solid white;
    border-radius: 20px;
    margin-left: -120px;
    width: 100px;
    height: 30px;
    margin-bottom: -14px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px; 
    background-color:rgba(252, 169, 62, 0.658)
}

.signUpButton {
    border: 1px solid white;
    border-radius: 20px;
    margin-top: -53px;
    margin-left: 120px;
    width: 100px;
    height: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    background-color:rgba(252, 169, 62, 0.658);
    
}

.profileScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 20px;
}

#city-search {
    border: 1px solid white;
    border-radius: 40px;
    width: 400px;
    height: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.575);
}

#search {
    border: 1px solid white;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    margin-bottom: -14px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    color: white;
    background-color:rgba(65, 100, 55, 0.815);
}

.nav-links {
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    text-align: right;
    padding: 20px;
}

.nav-link {
    padding: 15px;
}

.hidden {
    display: none;
}

.searchResults {
    border: 1px solid black;
    height: 200px;
    width: 100px;
    margin-top: 100px;
}



